.iconSpacing{
    margin: 20px 10px;
}

.iconLayout{
  text-align: center;
}

/* nav-bar  */
.dropDownLink{
  color: #fff;
}
.dropDownLink:hover{
  color:#9F9DDD
}
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  text-align: center;
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.color-style{
  background-color: #01001F;
  color: #9F9DDD;
}

.link-color{
  color: white;
}

.link-color:hover{
  color: #9F9DDD;
}

.rule-styling{
  border: 2px solid #5E5D8C;
  margin: 0px;
}

/* Home page styling */

.homeTopContainer{
  padding-top: 3%;
  padding-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
  background-color: #01001F;
  color: white;
}

.img-style{
  width: 8%;
}

.dsaiScoietyh1{
  font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 3.5rem;
    margin-top: 10%;
} 

.IIITDWDp{
  font-family: "Roboto Mono", monospace;
  margin-top: 3%;
    font-weight: 300;
    font-size: 2.5rem;
}

.btn-default{
  background-color: #01001F;
  border-color: #5E5D8C;
  border: 5px solid;
  color: white;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color:#5E5D8C;
  color:#FFF;
}

.homeAnimation{
  margin-left: 10%;
  margin-bottom: 10%;
  margin-right:4%;
  height: 70%;
}

.arrowIcon{
  color: #5E5D8C;
  position: absolute;
  left:50%
}

/* News and Announcements Section */
.newsAndAnnouncements{
  background-color: #410F5D;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
}

.divNewsEvents{
  padding-top: 20px;
  height:350px;
  border-radius: 20px;
  background-color: white;
  margin-top: 5%;
  margin-left: 13%;
  margin-right:13%;
  overflow:auto;
}

.newsEventsH1{
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.carousel-item{
  height: 350px;
  background-color: white;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238200C9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
 
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238200C9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.itemStyling{
  margin-top:20%;
  text-align: center;
}

/* Footer Section */
.footerStyle{
  background-color: #01001F;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
}

.footerATags{
  font-size: 1.5rem;
  margin-left: 20%;
  margin-right: 5%;
  color: white;
}

.footerATags:hover{
  text-decoration: none;
  color: #9F9DDD;
}

/* Who are we section */
.whoAreWe{
  padding-top: 3%;
  padding-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
  background-color: #01001F;
}

.whoAreWeContent{
  margin-top: 1.5%;
  margin-bottom: 5%;
  background-color: #410F5D;
  padding-top: 2%;
  padding-bottom: 2.5%;
  padding-left:5%;
  padding-right: 5%;
}

.whoAreWeH1{
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
}

.whoAreWep{
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

/* Team Section */
.teamContainer{
  background-color: #410F5D;
  padding-top: 3%;
  padding-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
}

.ourTeamh1{
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

/* Card Icons */
.cardStyle{
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: black;
  background-color: #D17CFF;
}

.jobH6{
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: black;
}

.cardIcons{
  margin-left: 10%;
  color: white;
}

.cardIcons:hover{
  color:#5E5D8C;
}

